In [10]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
actions = pd.read_csv('/home/dai/Documentos/DATOS/2019/tp1/actions.csv')
actions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [6]:
#VERIFICAR
#Visulizacion de la cantidad de devices_id segun la country
actions = actions['country'].value_counts().plot('bar')
actions.set_xlabel('Ciudad')
actions.set_ylabel('Cantidad de viajes')
actions.set_title('Cantidad de viajes dependiendo de la ciudad')

TypeError: 'AxesSubplot' object has no attribute '__getitem__'

In [11]:
# Top five 
actions.sort_values('country',ascending=False).head(5)

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
13047551,NaN,6333597102633388268,2019-03-06 01:40:52.509735,2580513050335528732,1,1,0
13047549,NaN,6333597102633388268,2019-03-06 01:40:48.738243,8292793494956750501,1,1,0
13047548,NaN,6333597102633388268,2019-03-06 01:40:48.705565,2898055894659265616,2,7,0
13047547,NaN,6333597102633388268,2019-03-06 01:40:47.918749,7735845193957092626,1,1,0